<ion-card class="ion-activatable" *ngFor="let device of devices" (click)="deviceSelected.emit(device)">
  <ion-ripple-effect></ion-ripple-effect>
  <ion-card-header>
    <ion-card-subtitle>{{device.deviceAddress}}</ion-card-subtitle>
    <ion-card-title>{{device.deviceName}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-label slot="start">{{device.primaryDeviceType}}</ion-label>
    <ion-label slot="end">{{ deviceState(device.status) }}</ion-label>
  </ion-card-content>
</ion-card>
