<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="disconnect()">
        <ion-icon name="log-out" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Chat
    </ion-title>
    <ion-label slot="end">{{  }}</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-textarea>{{ msgs }}</ion-textarea>
  <ion-textarea (ionChange)="writeMsg($event)"></ion-textarea>

  <ion-button (click)="sendMsg()">Send</ion-button>
</ion-content>
