<ion-header>
  <ion-toolbar>
    <ion-title>
      Wifi Direct
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>{{ wifiState }}</h3>
  <h3>{{ status }}</h3>

  <ion-button (click)="onDiscovering ? stopDiscoveringPeers() : startDiscoveringPeers()">
    {{ onDiscovering ? 'Stop' : 'Discover'}}
  </ion-button>
  <ion-spinner *ngIf="onDiscovering" name="dots"></ion-spinner>

  <ion-button (click)="host()">
    Host
  </ion-button>

  <app-peers-devices
      [devices]="devices"
      (deviceSelected)="connect($event)"
  ></app-peers-devices>

</ion-content>
